<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 id="todos-header">Events</h2>
        </div>
    </div>
    <div class="row">
        <div id="navbarTodo" class="col-sm-12">
            <div class="row">
                <div class="col-sm-10">
                    <button id="myTodo"><a href="#/todos">My TODOs</a></button>
                    <button id="myEvents"><a href="#/events">My Events</a></button>
                </div>
                <div class="col-sm-2">
                    <button id="logOut"><a href="#/login">Log Out</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button id="addEvent"><a href="#/events/add">Add</a></button>
        </div>
    </div>


{{#if this }}
    {{#each this}}
        <h3 class="eventCat"><a href="#/events?category={{category}}" class="event-category">{{category}}</a></h3>
            {{#each events}}
            <div class="row event">
                <div class="col-sm-2">
                    <p class="event-title" data-id="{{id}}"> {{title}} </p>
                </div>
                <div class="col-sm-6">
                    <p class="event-description" data-id="{{id}}"> {{description}}</p>
                </div>
                <div class="col-sm-4">
                    <p class="event-date" data-id="{{id}}"> {{date}} </p>
                </div>
            </div>
            {{/each}}
    {{/each}}

{{else}}
    <div class="row">
        <div class="col-sm-12">
            <h3>No Events!</h3>
        </div>
    </div>
{{/if}}
</div>
