<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Events</h2>
        </div>
    </div>
    <div class="row">

        <nav class="navbar navbar-default">
            <div class="col-md-11">
                <ul class="nav navbar-nav">
                    <li><a href="#/todos">My TODOs</a></li>
                    <li><a href="#/events">My Events</a></li>
                </ul>
            </div>

            <div class="col-md-1">
                <a id="logOut" href="#/login">Log Out</a>
            </div>
        </nav>

    </div>
</div>
<a href="#/events/add">Add new Event</a>
<div class="container">

{{#if this }}
    {{#each this}}
        <h3><a href="#/events?category={{category}}" class="event-category">{{category}}</a></h3>
            {{#each events}}
            <div class="row">
                <div class="col-sm-2">
                    <h4 class="event-title" data-id="{{id}}"> {{title}} </h4>
                </div>
                <div class="col-sm-6">
                    <p class="event-description" data-id="{{id}}"> {{description}}</p>
                </div>
                <div class="col-sm-4">
                    <span class="event-date" data-id="{{id}}"> {{date}} </span>
                </div>
            </div>
            {{/each}}
    {{/each}}

{{else}}
    <div class="row">
        <div class="col-sm-12">
            <h3>No Events!</h3>
        </div>
    </div>
{{/if}}
</div>
