<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 id="todos-header">TODOs</h2>
        </div>
    </div>
    <div  class="row">
        <div id="navbarTodo" class="col-sm-12">
            <div class="row">
                <div class="col-sm-10">
                    <button id="myTodo"><a href="#/todos">My TODOs</a></button>
                    <button id="myEvents"><a href="#/events">My Events</a></button>
                </div>
                <div class="col-sm-2">
                    <button id="logOut"><a href="#/login">Log Out</a></button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button id="buttonAddTodo"><a id="linkAddTodo" href="#/todos/add">Add</a></button>
        </div>
    </div>


    {{#if this }}

        {{#each this}}
            <div class="row">
                <div class="col-sm-12">
                    <button id="categoryId"><a href="#/todos?category={{category}}">{{category}}</a></button>
                </div>
            </div>
            {{#each todos}}
                <div class="row">
                    <div class="col-sm-1">      </div>
                    <div class="col-sm-11 todo-item" data-id="{{id}}">
                        <label>
                            {{#if state}}
                                <input class="todo-state" type="checkbox" checked/>
                            {{else}}
                                <input class="todo-state" type="checkbox" />
                            {{/if}}
                            <div id="todo">{{text}}</div>
                        </label>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    {{else}}
        <h3>No TODOs</h3>
    {{/if}}
</div>
