<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>TODOs</h2>
        </div>
    </div>
    <div class="row">

            <nav class="navbar navbar-default">
                <div class="col-md-11">
                    <ul class="nav navbar-nav">
                        <li><a href="#/todos">My TODOs</a></li>
                        <li><a href="#/events">My Events</a></li>
                    </ul>
                </div>

                <div class="col-md-1">
                    <a id="logOut" href="#/login">Log Out</a>
                </div>
            </nav>

    </div>
</div>

<a href="#/todos/add">Add new TODO</a>

<div class="container">
{{#if this }}

    {{#each this}}
        <h3><a href="#/todos?category={{category}}">{{category}}</a></h3>

        {{#each todos}}
            <div class="row">

                <div class="col-sm-11 todo-item" data-id="{{id}}">
                    <label>
                        {{#if state}}
                            <input class="todo-state" type="checkbox" checked/>
                        {{else}}
                            <input class="todo-state" type="checkbox" />
                        {{/if}}
                        <span>{{text}}</span>
                    </label>
                </div>
            </div>
        {{/each}}
    {{/each}}
{{else}}
    <h3>No TODOs</h3>
{{/if}}
</div>
